{% extends "layout/basic.html" %}
{% load embed_video_tags %}

{% block title %}Новости{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<div class="row">
		<div class="col-sm-12 col-lg-3 div m-3">
			<a class="btn btn-danger m-3" href="{% url 'main:create_news' %}">Добавить новость</a>
		</div>
	</div>
	{% endif %}
	<div class="row">
		{% for new in news %}
		<div class="col-xs-12 col-lg-8 m-3 div">
			<div class="row">	
				<div class="col-xs-12 col-md-6 col-lg-6 my-5">
				{% if new.video %}
					<iframe width="100%" class="rounded"  src="{{ new.video }}" frameborder="0" allowfullscreen></iframe>
				{% else %}
					<img width="100%" class="rounded"  src="{{ new.image }}">
				{% endif %}
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 ">
					<h1 class="text-white border-danger">{{ new.title }} </h1>
					<p class="text-white">{{ new.text }}</p>
					<p class="text-white text-right font-italic">{{ new.author }}</p>
					{% if new.source %}
					<p class="text-right font-italic"><a class="text-danger" href="{{ new.source }}">Источник</a></p>
					{% endif %}
					<p class="text-white text-right font-italic">{{ new.published }}</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-4 ">	
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}